endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "mysql://root:@localhost:3306/Nova Vida RP"
setr inventory:framework "vrp"
setr inventory:imagepath "nui://base_imagens/images"
setr inventory:keys "[\"GRAVE\"]"

start [system]
start [weapons]
start vrp
start [scripts]
start [smartphone]

# MODS
start [maps]

# MAPAS
start cfx-summerz

sv_endpointprivacy true
sv_scriptHookAllowed 0
sv_authMaxVariance 1
sv_authMinTrust 5

#rcon_password

sets tags "roleplay,brasil,rp"
sets locale "pt-BR"

load_server_icon server.png

sv_master1 ""

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.steam:11000010c6d36de group.admin

set onesync on
set onesync_population true
set sv_enforceGameBuild 3407
set onesync_forceMigration true
set onesync_workaround763185 true
set onesync_distanceCullVehicles true
setr sv_stateBagStrictMode true

setr profile_skfx 0
setr voice_syncData 1
setr sv_requestParanoia 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

sv_hostname "Nova Vida"
sets sv_projectName "Nova Vida"
sets sv_projectDesc "Desenvolva sua historia, troque seu tiro e divirta-se"

sets Grupo "Nova Vida RP"
sets Desenvolvedor "Dev Turiba"
sets Discord "https://discord.gg/x4hdYMC65Q"

sets banner_detail ""
sets banner_connecting ""

sv_maxClients 1

set steam_webApiKey "9B36A3205B11C6662FC721E4F0FCF754"

sv_licenseKey "cfxk_1IEMkpdzo4dC4paZgQagO_3ONFn9"

# WEBHOOKLOGS
setr Discord_MDT ""
setr Discord_PAINEL ""
setr Discord_EMS ""
setr Discord_FREECAM ""